@import 'tailwindcss';

:root {
  --background: #fff;
  --foreground: #000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --bg-black: #000;
  --bg-dark-brown: #302b24;
}

body {
  display: block grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100svh;
  color: #fff;
  background-color: var(--bg-dark-brown);
  font-family:
    var(--font-zen-old-mincho), 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;
  font-size: 0.875rem;
  font-weight: 900;
  letter-spacing: 0.05em;
}
